<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.practice.dao.WordDao">

	<resultMap id="wordResult" type="com.english.practice.entity.Word">
		<result property="id" column="id" />
		<result property="englishWord" column="english_word" />
		<result property="chinaWord" column="china_word" />
		<result property="classifyId" column="classify_id" />
		<result property="isStatus" column="is_status" />
		<result property="type" column="type" />
		<result property="newTime" column="new_time" />
	</resultMap>

	<select id="get" resultMap="wordResult">
		select `id`,`english_word`,`china_word`,`classify_id`,`is_status`,`type` from word
	</select>

	<insert id="insert" parameterType="com.english.practice.entity.Word">
		insert into word(`id`,`english_word`,`china_word`,`classify_id`,`is_status`,`type`,`new_time`)values(#{id},#{englishWord},#{chinaWord},#{classifyId},#{isStatus},#{type},#{newTime})
	</insert>

	<update id="update" parameterType="com.english.practice.entity.Word">
		update word set `id`=#{id},`english_word`=#{englishWord},`china_word`=#{chinaWord},`classify_id`=#{classifyId},`is_status`=#{isStatus},`type`=#{type}
	</update>

	<select id="queryWordsByType" resultMap="wordResult">
		select * from word where classify_id = #{classifyId} and is_status != -1
		 <if test="search != null">
			 and (english_word like #{search} or china_word like #{search})
		 </if>
		 order by new_time desc limit ${size * page} , #{size}
	</select>


	<select id="queryWordByClassifyIdAndEnglish" resultMap="wordResult">
		select * from word where english_word = #{englishWord} and classify_id = #{classifyId} and type = #{type} and is_status = 1 order by new_time
	</select>

	<select id="edit" resultMap="wordResult">
		select * from word where id = #{wordId} and is_status = 1;
	</select>

	<update id="editIsStatusAndWordId">
		update word set is_status = #{isStatus} where id = #{wordId}
	</update>

    <update id="editWord" parameterType="com.english.practice.entity.Word">
        update word set english_word = #{englishWord},china_word = #{chinaWord},type = #{type} where id = #{id}
    </update>

    <select id="queryEditWord" resultMap="wordResult">
        select * from word where id = #{wordId}
    </select>

	<select id="selectCount" resultType="long">
		select count(*) from word where is_status != -1
		<if test="search != null and search != ''">
			and (english_word like #{search} or china_word like #{search})
		</if>
	</select>

	<select id="PracticeEnglish" resultMap="wordResult">
		select * from word where classify_id = #{classifyId} and is_status = 1
		<if test="type == 1">
			order by new_time desc LIMIT #{sum}
		</if>
		<if test="type == 2">
			order by new_time LIMIT #{sum}
		</if>
		<if test="type == 3">
			order by rand() LIMIT #{sum}
		</if>
	</select>

	<select id="PracticeChina" resultMap="wordResult">
		select id,english_word as china_word,china_word as english_word,classify_id,is_status,type from word  where classify_id = #{classifyId} and is_status = 1
		<if test="type == 1">
			order by new_time desc LIMIT #{sum}
		</if>
		<if test="type == 2">
			order by new_time LIMIT #{sum}
		</if>
		<if test="type == 3">
			order by rand() LIMIT #{sum}
		</if>

	</select>
</mapper>