<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.practice.dao.WordDao">

	<resultMap id="wordResult" type="com.english.practice.entity.Word">
		<result property="id" column="id" />
		<result property="englishWord" column="english_word" />
		<result property="chinaWord" column="china_word" />
		<result property="classifyId" column="classify_id" />
		<result property="isStatus" column="is_status" />
		<result property="type" column="type" />
	</resultMap>

	<select id="get" resultMap="wordResult">
		select `id`,`english_word`,`china_word`,`classify_id`,`is_status`,`type` from word
	</select>

	<insert id="insert" parameterType="com.english.practice.entity.Word">
		insert into word(`id`,`english_word`,`china_word`,`classify_id`,`is_status`,`type`)values(#{id},#{englishWord},#{chinaWord},#{classifyId},#{isStatus},#{type})
	</insert>

	<update id="update" parameterType="com.english.practice.entity.Word">
		update word set `id`=#{id},`english_word`=#{englishWord},`china_word`=#{chinaWord},`classify_id`=#{classifyId},`is_status`=#{isStatus},`type`=#{type}
	</update>

</mapper>